In [36]:
# general
import os, sys, warnings, operator, itertools
warnings.filterwarnings('ignore')

# data structure
import pandas as pd
import numpy as np

# modeling and validate
import lightgbm as lgb
from sklearn.metrics import mean_squared_error as mse
def rmse(pred, true): return np.sqrt(mse(true, pred))

In [2]:
path = './dataset/origin/'
sample = pd.read_csv(path+'sample.csv')
train = pd.read_csv(path+'train.csv')
test = pd.read_csv(path+'test_mini.csv')

## eda

In [13]:
def obj_or_num(df, col):
    print(col)
    print('num of na : {}'.format(df[col].isna().sum()))
    if df[col].dtypes == 'O': print(df[col].value_counts(dropna=False))
    elif df[col].dtypes == 'int64' or df[col].dtypes == 'float64': 
        print(df[col].unique().shape)
        print(df[col].describe())
    else : print('is it proper type?')
    print('-'*50)
for df in (train, test):
    print('-'*20, 'new df', '-'*20)
    print('-'*50)
    for col in df.columns:
        obj_or_num(df, col)

-------------------- new df --------------------
--------------------------------------------------
country
num of na : 0
Colombia                  360
Malta                     360
Luxembourg                360
France                    360
Singapore                 360
Brazil                    360
United Kingdom            360
Israel                    360
Spain                     360
Greece                    360
Netherlands               360
Bulgaria                  360
Ireland                   360
Mexico                    360
United States             360
Austria                   360
Belgium                   360
Mauritius                 360
Italy                     360
Chile                     360
Japan                     360
Republic of Korea         360
Argentina                 360
Iceland                   360
Ecuador                   360
Puerto Rico               360
Costa Rica                360
Australia                 348
Norway                    348
Guatemala                 348
                         ...
Estonia                   240
Lithuania                 240
Slovenia                  240
Croatia                   240
Switzerland               240
Latvia                    240
South Africa              228
Serbia                    204
Jamaica                   204
Seychelles                204
Azerbaijan                192
Philippines               180
Aruba                     168
Qatar                     156
Cyprus                    156
Kiribati                  132
Fiji                      132
Sri Lanka                 132
Maldives                  120
Montenegro                120
Turkey                     72
United Arab Emirates       72
Nicaragua                  60
Oman                       36
Saint Kitts and Nevis      36
San Marino                 36
Bosnia and Herzegovina     24
Macau                      12
Cabo Verde                 12
Dominica                   12
Name: country, Length: 100, dtype: int64
--------------------------------------------------
year
num of na : 0
(30,)
count    26916.000000
mean      2000.790905
std          8.209977
min       1985.000000
25%       1994.000000
50%       2001.000000
75%       2008.000000
max       2014.000000
Name: year, dtype: float64
--------------------------------------------------
sex
num of na : 0
female    13458
male      13458
Name: sex, dtype: int64
--------------------------------------------------
age
num of na : 0
55-74 years    4486
75+ years      4486
15-24 years    4486
5-14 years     4486
35-54 years    4486
25-34 years    4486
Name: age, dtype: int64
--------------------------------------------------
suicides_no
num of na : 0
(2049,)
count    26916.000000
mean       242.576051
std        905.453102
min          0.000000
25%          2.000000
50%         24.000000
75%        131.000000
max      22338.000000
Name: suicides_no, dtype: float64
--------------------------------------------------
population
num of na : 0
(24699,)
count    2.691600e+04
mean     1.835912e+06
std      3.893674e+06
min      2.780000e+02
25%      9.670950e+04
50%      4.262920e+05
75%      1.478743e+06
max      4.380521e+07
Name: population, dtype: float64
--------------------------------------------------
suicides_100k_pop
num of na : 0
(5236,)
count    26916.000000
mean        12.860100
std         19.064989
min          0.000000
25%          0.900000
50%          5.980000
75%         16.672500
max        224.970000
Name: suicides_100k_pop, dtype: float64
--------------------------------------------------
country_year
num of na : 0
Germany2013                   12
Poland2012                    12
Hungary2004                   12
France2010                    12
Kyrgyzstan2010                12
Cuba2001                      12
United States2003             12
Greece2006                    12
Brazil2004                    12
Thailand2011                  12
Kazakhstan2007                12
Japan1990                     12
United States2005             12
Saint Lucia1997               12
Italy2007                     12
Turkey2009                    12
Saint Lucia1991               12
Cuba1995                      12
Jamaica1988                   12
Luxembourg2014                12
United Arab Emirates2005      12
Barbados1992                  12
New Zealand1987               12
Ireland2006                   12
United States2006             12
Greece1990                    12
Bahrain2014                   12
Thailand2002                  12
Uruguay1985                   12
Brazil1991                    12
                              ..
Canada1994                    12
El Salvador2003               12
Croatia2004                   12
Israel2005                    12
Bahrain2010                   12
Seychelles2006                12
United Kingdom1986            12
Finland2013                   12
Finland2009                   12
Slovakia2001                  12
Armenia1995                   12
Japan1987                     12
Austria1987                   12
Portugal1985                  12
Bulgaria2005                  12
Bosnia and Herzegovina2011    12
Slovakia1993                  12
France1985                    12
Ecuador1993                   12
Sweden1998                    12
Belgium1987                   12
Italy1994                     12
Chile1991                     12
Spain2007                     12
El Salvador2000               12
Latvia1998                    12
Mauritius1996                 12
Nicaragua2010                 12
Georgia1990                   12
Mauritius1995                 12
Name: country_year, Length: 2243, dtype: int64
--------------------------------------------------
HDI_for_year
num of na : 18552
(306,)
count    8364.000000
mean        0.776601
std         0.093367
min         0.483000
25%         0.713000
50%         0.779000
75%         0.855000
max         0.944000
Name: HDI_for_year, dtype: float64
--------------------------------------------------
gdp_for_year
num of na : 0
221,758,486,880      12
782,240,601,985      12
391,719,993,757      12
44,558,077,827       12
56,379,593,720       12
135,225,868,315      12
27,821,913,815       12
10,829,710,145       12
8,100,201,000,000    12
59,775,697,061       12
6,838,351,088        12
261,628,548,084      12
9,632,155,053        12
409,813,197,842      12
64,883,060,726       12
13,360,607,918       12
3,200,539,816        12
13,760,374,488       12
60,644,572,348       12
154,027,536,232      12
189,041,159,344      12
1,484,092,538        12
2,653,480,001        12
136,013,155,905      12
58,603,900,000       12
507,354,351,182      12
1,211,411,704        12
7,367,494,080        12
2,619,700,404,733    12
799,882,148          12
                     ..
144,428,172,835      12
2,472,806,919,902    12
378,215,090,694      12
2,331,358,820        12
749,138,010          12
37,711,864,407       12
222,942,790,435      12
206,224,725,275      12
990,374,050          12
21,977,401,900       12
9,298,839,655        12
73,141,000,000       12
7,308,755,000,000    12
28,267,410,543       12
3,514,350,000        12
37,347,394,603       12
23,822,087,053       12
15,222,012,660       12
2,390,729,163,615    12
15,929,902,138       12
14,292,008,745       12
264,467,308,109      12
336,708,419          12
306,125,173,853      12
214,875,344,910      12
23,043,864,510       12
9,209,559,296        12
989,930,542,279      12
9,981,960,000        12
14,630,992,956       12
Name: gdp_for_year, Length: 2243, dtype: int64
--------------------------------------------------
gdp_per_capital
num of na : 0
(2164,)
count     26916.000000
mean      16555.305840
std       18631.336556
min         251.000000
25%        3376.000000
50%        9001.000000
75%       24648.000000
max      126352.000000
Name: gdp_per_capital, dtype: float64
--------------------------------------------------
generation
num of na : 0
Generation X       6252
Silent             6208
Millenials         5532
Boomers            4834
G.I. Generation    2744
Generation Z       1346
Name: generation, dtype: int64
--------------------------------------------------
-------------------- new df --------------------
--------------------------------------------------
country
num of na : 0
Hungary                         12
Norway                          12
Italy                           12
Belize                          12
Lithuania                       12
Malta                           12
Chile                           12
Mexico                          12
Denmark                         12
Guatemala                       12
Thailand                        12
Finland                         12
Kyrgyzstan                      12
Brazil                          12
Armenia                         12
Greece                          12
Georgia                         12
Republic of Korea               12
Grenada                         12
Saint Vincent and Grenadines    12
United States                   12
Romania                         12
Sweden                          12
Panama                          12
Austria                         12
Ukraine                         12
Russian Federation              12
Latvia                          12
Antigua and Barbuda             12
Japan                           12
                                ..
Mauritius                       12
Turkmenistan                    12
Turkey                          12
Serbia                          12
Australia                       12
Belgium                         12
Qatar                           12
Croatia                         12
Germany                         12
Singapore                       12
Slovenia                        12
Estonia                         12
Nicaragua                       12
Kazakhstan                      12
Puerto Rico                     12
Switzerland                     12
Seychelles                      12
Argentina                       12
Luxembourg                      12
Poland                          12
United Kingdom                  12
Iceland                         12
Cuba                            12
South Africa                    12
Cyprus                          12
Uruguay                         12
Colombia                        12
Ecuador                         12
Spain                           12
Czech Republic                  12
Name: country, Length: 62, dtype: int64
--------------------------------------------------
year
num of na : 0
(1,)
count     744.0
mean     2015.0
std         0.0
min      2015.0
25%      2015.0
50%      2015.0
75%      2015.0
max      2015.0
Name: year, dtype: float64
--------------------------------------------------
sex
num of na : 0
male      372
female    372
Name: sex, dtype: int64
--------------------------------------------------
age
num of na : 0
15-24 years    124
55-74 years    124
5-14 years     124
75+ years      124
25-34 years    124
35-54 years    124
Name: age, dtype: int64
--------------------------------------------------
population
num of na : 0
(744,)
count    7.440000e+02
mean     2.385293e+06
std      4.768288e+06
min      1.076000e+03
25%      1.789225e+05
50%      5.802350e+05
75%      2.317470e+06
max      4.165801e+07
Name: population, dtype: float64
--------------------------------------------------
suicides_100k_pop
num of na : 0
(570,)
count    744.000000
mean      11.094073
std       15.144091
min        0.000000
25%        1.307500
50%        6.065000
75%       14.232500
max      140.740000
Name: suicides_100k_pop, dtype: float64
--------------------------------------------------
country_year
num of na : 0
Germany2015                         12
Ukraine2015                         12
Australia2015                       12
Brazil2015                          12
Qatar2015                           12
Denmark2015                         12
Antigua and Barbuda2015             12
Netherlands2015                     12
Thailand2015                        12
Saint Vincent and Grenadines2015    12
Nicaragua2015                       12
Lithuania2015                       12
Sweden2015                          12
Finland2015                         12
Guatemala2015                       12
United States2015                   12
South Africa2015                    12
Croatia2015                         12
Latvia2015                          12
Israel2015                          12
Greece2015                          12
Kazakhstan2015                      12
Panama2015                          12
Cyprus2015                          12
Slovenia2015                        12
Seychelles2015                      12
Japan2015                           12
Kyrgyzstan2015                      12
Armenia2015                         12
Singapore2015                       12
                                    ..
Belgium2015                         12
Mauritius2015                       12
Georgia2015                         12
Italy2015                           12
Cuba2015                            12
Iceland2015                         12
Chile2015                           12
United Kingdom2015                  12
Argentina2015                       12
Norway2015                          12
Uruguay2015                         12
Republic of Korea2015               12
Estonia2015                         12
Switzerland2015                     12
Grenada2015                         12
Serbia2015                          12
Spain2015                           12
Russian Federation2015              12
Romania2015                         12
Czech Republic2015                  12
Turkey2015                          12
Hungary2015                         12
Ecuador2015                         12
Austria2015                         12
Mexico2015                          12
Luxembourg2015                      12
Colombia2015                        12
Poland2015                          12
Puerto Rico2015                     12
Belize2015                          12
Name: country_year, Length: 62, dtype: int64
--------------------------------------------------
HDI_for_year
num of na : 744
(1,)
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: HDI_for_year, dtype: float64
--------------------------------------------------
gdp_for_year
num of na : 0
594,749,285,413       12
757,999,453,314       12
1,169,622,672,463     12
301,298,464,861       12
299,093,839,690       12
477,355,617,456       12
1,364,863,037         12
304,097,759,674       12
1,832,868,490,534     12
1,375,604,279         12
6,678,178,340         12
232,464,833,066       12
859,796,872,794       12
317,741,039,198       12
243,999,477,738       12
186,829,940,546       12
382,065,930,308       12
54,315,722,500        12
18,120,714,000,000    12
679,289,166,858       12
2,885,570,309,161     12
26,972,863,394        12
164,641,483,516       12
35,799,628,571        12
91,030,959,455        12
49,425,513,611        12
11,692,287,066        12
177,911,101,680       12
22,566,956,982        12
43,072,415,017        12
                      ..
756,666,667           12
291,519,591,533       12
997,007,926           12
401,399,422,443       12
37,160,332,465        12
3,375,611,100,742     12
1,382,764,027,114     12
122,879,042,002       12
1,778,567,600         12
53,274,304,222        12
99,290,381,000        12
184,388,432,149       12
386,663,139,403       12
1,197,789,902,774     12
10,553,337,673        12
103,143,500,000       12
1,802,214,373,741     12
195,541,761,243       12
16,942,247,374        12
13,993,546,732        12
57,784,495,265        12
87,132,800,000        12
41,508,609,233        12
1,368,400,705,491     12
497,918,109,302       12
19,676,167,240        12
455,039,563,133       12
12,611,087,031        12
1,349,034,029,453     12
10,574,026,838        12
Name: gdp_for_year, Length: 62, dtype: int64
--------------------------------------------------
gdp_per_capital
num of na : 0
(60,)
count       744.000000
mean      26231.193548
std       24035.989653
min        1285.000000
25%        9431.000000
50%       15115.500000
75%       42830.000000
max      107456.000000
Name: gdp_per_capital, dtype: float64
--------------------------------------------------
generation
num of na : 0
Millenials      248
Boomers         124
Generation Z    124
Generation X    124
Silent          124
Name: generation, dtype: int64
--------------------------------------------------

In [3]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
country    101 non-null object
y_pred     101 non-null float64
dtypes: float64(1), object(1)
memory usage: 1.7+ KB

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26916 entries, 0 to 26915
Data columns (total 12 columns):
country              26916 non-null object
year                 26916 non-null int64
sex                  26916 non-null object
age                  26916 non-null object
suicides_no          26916 non-null int64
population           26916 non-null int64
suicides_100k_pop    26916 non-null float64
country_year         26916 non-null object
HDI_for_year         8364 non-null float64
gdp_for_year         26916 non-null object
gdp_per_capital      26916 non-null int64
generation           26916 non-null object
dtypes: float64(2), int64(4), object(6)
memory usage: 2.5+ MB

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 744 entries, 0 to 743
Data columns (total 11 columns):
country              744 non-null object
year                 744 non-null int64
sex                  744 non-null object
age                  744 non-null object
population           744 non-null int64
suicides_100k_pop    744 non-null float64
country_year         744 non-null object
HDI_for_year         0 non-null float64
gdp_for_year         744 non-null object
gdp_per_capital      744 non-null int64
generation           744 non-null object
dtypes: float64(2), int64(3), object(6)
memory usage: 64.0+ KB

### 타겟은 12개의 합인가?? <- 맞다

In [8]:
target = 'suicides_no'
train[target].head()

0    21
1    16
2    14
3     1
4     9
Name: suicides_no, dtype: int64

In [11]:
train.groupby('country')[target].agg('sum').reset_index().sort_values(by='country', ascending=True)

                         country  suicides_no
0                        Albania         1970
1            Antigua and Barbuda           10
2                      Argentina        79146
3                        Armenia         1764
4                          Aruba          101
5                      Australia        67084
6                        Austria        47621
7                     Azerbaijan         1656
8                        Bahamas           93
9                        Bahrain          463
10                      Barbados          177
11                       Belarus        59892
12                       Belgium        60894
13                        Belize          322
14        Bosnia and Herzegovina          318
15                        Brazil       215450
16                      Bulgaria        36388
17                    Cabo Verde           42
18                        Canada       107561
19                         Chile        39057
20                      Colombia        50748
21                    Costa Rica         6792
22                       Croatia        17007
23                          Cuba        39907
24                        Cyprus          336
25                Czech Republic        40982
26                       Denmark        14733
27                      Dominica            0
28                       Ecuador        19587
29                   El Salvador        11683
..                           ...          ...
70                   Puerto Rico         8817
71                         Qatar          440
72             Republic of Korea       248220
73                       Romania        68596
74            Russian Federation      1184310
75         Saint Kitts and Nevis            0
76                   Saint Lucia          230
77  Saint Vincent and Grenadines          121
78                    San Marino            4
79                        Serbia        23117
80                    Seychelles           91
81                     Singapore         9760
82                      Slovakia        13437
83                      Slovenia        10193
84                  South Africa         6839
85                         Spain        96598
86                     Sri Lanka        55641
87                      Suriname         2166
88                        Sweden        35483
89                   Switzerland        25144
90                      Thailand       102321
91           Trinidad and Tobago         4039
92                        Turkey         8599
93                  Turkmenistan         8491
94                       Ukraine       312376
95          United Arab Emirates          622
96                United Kingdom       131895
97                 United States       989824
98                       Uruguay        12508
99                    Uzbekistan        34803

[100 rows x 2 columns]

In [9]:
sample.head()

               country     y_pred
0              Albania  35.977640
1  Antigua and Barbuda   8.352893
2            Argentina  10.157314
3              Armenia  27.624467
4                Aruba  69.397970

### 최신 날짜 없는 애들은 어떡하지??

In [16]:
countries = train['country'].value_counts(dropna=False)
cutOff = []
for country, val in zip(countries.index.tolist(), countries.values):
    if val == 12 : cutOff.append(country)

In [17]:
train.groupby('country')['year'].agg('max')

country
Albania                         2010
Antigua and Barbuda             2014
Argentina                       2014
Armenia                         2014
Aruba                           2011
Australia                       2014
Austria                         2014
Azerbaijan                      2007
Bahamas                         2013
Bahrain                         2014
Barbados                        2013
Belarus                         2014
Belgium                         2014
Belize                          2014
Bosnia and Herzegovina          2014
Brazil                          2014
Bulgaria                        2014
Cabo Verde                      2011
Canada                          2013
Chile                           2014
Colombia                        2014
Costa Rica                      2014
Croatia                         2014
Cuba                            2014
Cyprus                          2014
Czech Republic                  2014
Denmark                         2014
Dominica                        1985
Ecuador                         2014
El Salvador                     2014
                                ...
Puerto Rico                     2014
Qatar                           2014
Republic of Korea               2014
Romania                         2014
Russian Federation              2014
Saint Kitts and Nevis           1992
Saint Lucia                     2014
Saint Vincent and Grenadines    2014
San Marino                      2005
Serbia                          2014
Seychelles                      2014
Singapore                       2014
Slovakia                        2014
Slovenia                        2014
South Africa                    2014
Spain                           2014
Sri Lanka                       2006
Suriname                        2014
Sweden                          2014
Switzerland                     2014
Thailand                        2014
Trinidad and Tobago             2011
Turkey                          2014
Turkmenistan                    2014
Ukraine                         2014
United Arab Emirates            2010
United Kingdom                  2014
United States                   2014
Uruguay                         2014
Uzbekistan                      2014
Name: year, Length: 100, dtype: int64

### train, test의 나라 포함관계

In [18]:
set(test['country'].unique()) == set(train['country'].unique())

False

In [19]:
print(set(test['country'].unique()) - set(train['country'].unique()))
print(set(train['country'].unique()) - set(test['country'].unique()))

set()
{'Montenegro', 'Macau', 'France', 'Trinidad and Tobago', 'Cabo Verde', 'Bahrain', 'Slovakia', 'Saint Kitts and Nevis', 'Aruba', 'El Salvador', 'Suriname', 'Azerbaijan', 'Barbados', 'Oman', 'Kiribati', 'Maldives', 'Paraguay', 'Portugal', 'Jamaica', 'Albania', 'Canada', 'Bahamas', 'Costa Rica', 'Belarus', 'New Zealand', 'Sri Lanka', 'Philippines', 'Guyana', 'Bosnia and Herzegovina', 'Dominica', 'Fiji', 'Saint Lucia', 'San Marino', 'Kuwait', 'Ireland', 'United Arab Emirates', 'Uzbekistan', 'Bulgaria'}

In [22]:
outOfTest = list(set(train['country'].unique()) - set(test['country'].unique()))
for c in cutOff:
     print(c in outOfTest)

True
True
True

### prep

[우습지만 세대 출처는 나무위키~](https://namu.wiki/w/%EC%84%B8%EB%8C%80#s-2.2)

- idea : gen + old 면 더 정확한 나이 추론할 수 있을 거 같은데?

#### 새로 만든 피처들

- year_2014
- sex_new
- age_new
- gdp_for_year_new
- generation_new

In [31]:
isMale = {'female':0,'male':1}
howOld = {'55-74 years': 4,'75+ years': 5,'15-24 years': 1,'5-14 years': 0,'35-54 years': 3,'25-34 years': 2,}
howGen = {'Generation X': 2, 'Silent': 4, 'Millenials': 1, 'Boomers': 3, 'G.I. Generation': 5, 'Generation Z': 0,}

train['year_2014'] = train['year'].apply(lambda x : 2014-x)
train['sex_new'] = train['sex'].map(isMale)
train['age_new'] = train['age'].map(howOld)
train['gdp_for_year_new'] = train['gdp_for_year'].apply(lambda x : int(x.replace(',', '')))
train['generation_new'] = train['generation'].map(howGen)

### 일단 완전한 데이터로만 빠르게 lgb

In [32]:
train_pure = train[train['country'].map(lambda x : x not in outOfTest)]
validate = train_pure[train_pure['year'].map(lambda x : x == 2014)]
train_pure = train_pure[train_pure['year'].map(lambda x : x != 2014)]

### 첫번째 테스트 : 12개 따로 구한 다음에 더하기

In [33]:
train_pure.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides_100k_pop', 'country_year', 'HDI_for_year', 'gdp_for_year',
       'gdp_per_capital', 'generation', 'year_2014', 'sex_new', 'age_new',
       'gdp_for_year_new', 'generation_new'],
      dtype='object')

In [ ]:
modelCols = ['population',
       'suicides_100k_pop', 'HDI_for_year',
       'gdp_per_capital', 'year_2014', 'sex_new', 'age_new',
       'gdp_for_year_new', 'generation_new']
x_train = train_pure[modelCols]
y_train = train_pure[target].values
x_validate = validate[modelCols]
y_validate = validate[target].values

lgb_train = lgb.Dataset(x_train, label = y_train)

param = {
    'num_iterations': 1000,
    'num_threads': 8,
}
import time
start = time.time()
bst = lgb.train(param, lgb_train)
print(time.time()-start)

In [37]:
pred = bst.predict(x_validate)
rmse(pred, y_validate)

55.44659298186641

In [56]:
y_validate

array([    0,  3231,    58,  2891,  1314,  1899,    24, 10631,  1789,
        2126,   722,  1453,    44,  1489,   629,   734,   241,   789,
         194, 10217,   565,     0,   512,  1925,    44,   382,  4147,
       24357,  3119,   461,   382,   930,    67,    32,   120,  6178,
        1839,   311,   548,   147,  5934,   220,    55, 13834,  2209,
       26541,     2,  1134,     4,   355,   388,   580,  3911,  1148,
        1032,  3952,  1617,   136,  7968,  4788, 42769,   591],
      dtype=int64)

In [40]:
pred
# 음수가 왜 나오는데....

array([-6.33885971e-02, -6.33885971e-02, -7.24219226e-03, -1.83521636e-01,
        1.22152439e-03, -1.01897010e-01,  1.27063502e-02,  1.27063502e-02,
        6.88527551e-02, -1.07426689e-01,  7.73164717e-02, -2.58020622e-02,
        1.91039426e+02,  7.29500656e+02,  5.10636318e+02,  4.19011485e+02,
        6.42894040e+02,  2.05904143e+02,  1.94133479e+02,  1.30000701e+02,
        1.01008521e+02,  2.37904976e+01,  3.68259413e+01,  3.19585117e+01,
        9.54390200e+00,  6.13465853e+00,  1.13713820e+01,  1.34363310e+01,
        6.46337391e+00,  2.38833910e+00,  2.92035286e+00,  2.61337913e+00,
        7.47424567e-01,  2.23673339e+00,  9.36409805e-01,  5.15136733e-01,
        8.99421265e+02,  1.71824521e+02,  3.56417583e+02,  4.58696645e+02,
        2.74684423e+02,  2.73896965e+02,  1.20499085e+02,  1.60519688e+02,
        9.34646458e+01,  4.55936991e+01,  1.17249946e+01,  8.67116794e+00,
        2.12485731e+02,  3.04533461e+02,  3.25765973e+02,  7.64779441e+01,
        9.96580596e+01,  7.91195174e+01,  1.05820393e+02,  9.60469599e+01,
        3.09741912e+01,  1.60695640e+01,  2.15358601e+00,  4.32301672e-01,
        2.07215334e+02,  5.36818320e+02,  3.68335393e+02,  1.69603508e+02,
        2.30427578e+02,  1.80543525e+02,  8.27610285e+01,  8.44007629e+01,
        4.17954933e+01,  2.59373883e+01,  2.17230513e+00,  6.34322115e-01,
        1.21199192e+01,  4.55424546e+00,  4.31045189e+00,  2.69832939e+00,
        2.62223444e+00,  1.36919124e+00,  7.88348943e-01, -7.88625003e-01,
        2.14765190e-01,  4.78986990e-02,  1.44926062e-01,  1.23993646e-01,
        3.99856996e+02,  1.46465187e+03,  2.99061365e+03,  2.05518601e+03,
        1.38170175e+03,  8.31367493e+02,  4.05879958e+02,  4.56996182e+02,
        8.30418758e+01,  3.75283616e+02,  8.30343637e+01,  5.07523284e+01,
        9.27276462e+01,  3.14854915e+02,  5.32723230e+02,  2.86528781e+02,
        2.35272342e+02,  1.40099418e+02,  6.14015804e+01,  5.97839637e+01,
        6.00335848e+01,  9.20703410e+00,  1.28248478e+01,  9.32655365e+00,
        8.60411615e+01,  4.70346515e+02,  2.71844732e+02,  3.98887652e+02,
        4.84249483e+02,  1.35947783e+02,  7.91083694e+01,  4.61167703e+01,
        9.28988523e+01,  3.83501336e+01,  3.45274283e+00,  3.09206045e+01,
        8.96322186e+01,  1.94859136e+02,  1.64412747e+02,  4.37518830e+01,
        3.90379171e+01,  3.97486611e+01,  7.09971893e+01,  4.86489248e+01,
        1.13297973e+01,  1.07822248e+01,  7.76068665e-01, -1.19138621e-02,
        2.15070437e+02,  3.40800830e+02,  4.13693315e+02,  4.89218869e+01,
        9.30216172e+01,  1.14346905e+02,  6.01327570e+01,  1.19017010e+02,
        2.05569977e+01,  1.37335020e+01,  7.09642408e+00,  2.62448884e+00,
        1.49570241e+01,  9.48759871e+00,  7.99073603e+00,  5.70326470e+00,
        4.80449188e+00,  4.30100920e+00,  6.45508436e-01,  3.11199712e+00,
        1.15757639e+00, -1.96976566e-01, -2.27131765e-01, -1.20881618e-01,
        1.15673852e+02,  3.60123748e+02,  4.46837176e+02,  1.55839032e+02,
        8.24708127e+01,  5.52072831e+01,  1.06947214e+02,  9.05776518e+01,
        2.32955567e+01,  1.49901049e+01,  5.98290965e-01,  6.27164350e-01,
        6.31024702e+01,  1.54588735e+02,  1.75229633e+02,  3.69438748e+01,
        4.21860098e+01,  3.06111319e+01,  6.08139382e+01,  4.94556483e+01,
        8.88414673e+00,  1.06388296e+01,  1.52290835e+00,  8.72961888e-01,
        2.39662039e+01,  1.65124135e+02,  1.17008376e+02,  7.65585570e+01,
        1.56112956e+02,  7.91336248e+01,  3.69037917e+01,  2.86336712e+01,
        2.15495742e+01,  1.69315608e+01,  1.97164668e+01,  2.21034025e+00,
        3.21566588e+01,  4.98152196e+01,  3.99222918e+01,  5.90699755e+01,
        1.82158232e+01,  1.30466115e+01,  1.60915350e+01,  9.45310778e+00,
        1.02526969e+01,  3.34621678e+00, -4.26959166e-01, -5.66022199e-01,
        6.11171226e+01,  1.07528544e+02,  2.12776184e+02,  1.72305545e+02,
        6.70849724e+01,  3.91243074e+01,  6.39878979e+01,  5.57056177e+01,
        2.29892004e+01,  1.09887900e+01,  1.52811989e+00,  2.06509982e+00,
        2.06706721e+01,  6.09794724e+01,  5.76715109e+01,  1.86345420e+01,
        1.19743036e+01,  1.44917442e+01,  5.11297368e+00,  5.92839900e+00,
        2.80256690e+00,  5.71185601e+00,  4.39041785e-01,  2.32668622e-01,
        1.57260478e+03,  2.39075609e+03,  2.50957411e+03,  7.46446287e+02,
        6.46934373e+02,  4.09275148e+02,  8.83723986e+02,  8.14228262e+02,
        1.96538552e+02,  1.21675677e+02,  1.51381549e+01,  3.61717368e+00,
        7.22503719e+01,  1.40616418e+02,  1.68540604e+02,  4.13828943e+01,
        2.81637467e+01,  2.01716803e+01,  3.83876435e+01,  4.32915969e+01,
        1.29708355e+01,  7.88424258e+00,  1.33883031e+00, -3.87305438e-01,
        1.39907616e-01,  1.39907616e-01,  1.96054020e-01,  5.85836607e-02,
        2.04517737e-01,  3.76512455e-02,  2.16002563e-01,  2.16002563e-01,
        2.72148968e-01,  1.34678608e-01,  2.80612684e-01,  1.13746193e-01,
        1.00231672e+02,  4.49208230e+01,  8.82532340e+01,  1.19064238e+02,
        7.44501159e+00,  8.01621450e+01,  3.66352492e+01,  8.25159232e+00,
        1.78270844e+01,  1.25552176e+01,  6.89673463e+00,  7.62328938e-01,
        1.88436245e+02,  5.73645225e+02,  4.99135255e+02,  1.30578606e+02,
        7.82780259e+01,  1.76153139e+02,  6.81539809e+01,  1.60002382e+02,
        1.96173779e+01,  7.53014116e+00,  1.06119100e+00,  6.40940857e-01,
        8.38120834e+00,  1.12416122e+01,  5.08090851e+00,  5.01733595e+00,
        8.51526890e+00,  3.73172412e+00,  2.06872683e+00,  2.55100370e+00,
        2.55100370e+00,  2.10421081e+00, -2.43471667e-01, -1.67376720e-01,
        3.23203033e+01,  1.18031727e+02,  5.22875086e+01,  3.97377363e+01,
        3.83943927e+01,  1.00907307e+01,  2.26935612e+01,  2.90320837e+01,
        1.56775767e+01,  1.00701258e+01,  6.90392501e+00,  4.58374438e-01,
        7.18100177e+02,  9.44369027e+02,  1.14094607e+03,  2.97996580e+02,
        1.71022767e+02,  3.52244234e+02,  1.53348651e+02,  2.82330394e+02,
        7.47268410e+01,  4.48536001e+01,  7.49090548e+00,  8.66670364e+00,
        2.23418675e+03,  5.26527866e+03,  5.38971449e+03,  2.20779078e+03,
        1.20665078e+03,  1.75650066e+03,  2.51120362e+03,  2.18548985e+03,
        8.15321338e+02,  4.38217472e+02,  6.10166752e+01,  2.74368636e+01,
        1.11130369e+03,  7.35677189e+01,  7.56033841e+02,  3.45261199e+02,
        3.71722598e+02,  4.67180017e+01,  1.27423098e+02,  1.31366307e+02,
        1.78289336e+02,  6.73386835e+01,  3.92240349e+01,  1.44813649e+01,
        1.44304725e+02,  9.41660150e+01,  4.19889519e+01,  7.18199459e+00,
        6.13731006e+01,  4.85232396e+00,  3.30322861e+01,  2.13566507e+01,
        2.89439161e+01,  1.10615955e+01,  1.74468015e+01,  8.24366483e+00,
        2.20311996e+01,  9.37836166e+01,  1.24598086e+02,  4.40229854e+01,
        2.74311186e+01,  2.11994398e+01,  9.97731639e+00,  1.91618169e+01,
        6.69070119e+00,  1.67613004e+01,  2.76593836e-01,  4.76274179e-01,
        6.56269408e+01,  3.14368591e+02,  2.05296134e+02,  9.87271947e+01,
        8.53476332e+01,  5.13136449e+01,  4.49958737e+01,  4.30817730e+01,
        1.11382063e+01,  1.04974795e+01,  2.90429980e+00,  1.70214085e+00,
        1.59281295e+01,  2.89440500e+00,  2.17665344e+01,  4.55068373e+00,
        1.35269445e+00,  5.53815529e+00,  1.89345871e+00,  2.12927514e+00,
        1.94634166e+00,  4.23024231e+00,  6.68950176e-01, -3.60126935e-01,
        7.76828455e+00,  1.59112642e+01,  6.67595716e+00,  3.16678359e+00,
        2.26046291e+00,  9.97840489e-01,  6.40141366e-01,  5.61350347e-01,
        1.66220579e-01,  5.35080515e-01, -2.27131765e-01, -1.20881618e-01,
        2.29482270e+01,  2.02190951e+01,  4.42709746e+01,  1.56647699e+00,
        8.11071198e+00,  1.78385225e+00,  6.21857887e+00,  5.31716509e+00,
        4.39598093e+00,  4.09021066e+00,  2.66734470e+00,  3.99558207e-01,
        1.92977853e+02,  1.30400343e+03,  1.12245644e+03,  1.78288578e+03,
        6.14112751e+02,  4.04583428e+02,  2.80854129e+02,  3.47222125e+02,
        9.54054114e+01,  1.22681497e+02,  8.10852720e+01,  1.12568505e+01,
        5.34956114e+02,  3.93581161e+02,  9.71126343e+01,  1.11911775e+02,
        1.87776395e+02,  2.30812717e+02,  5.76926123e+01,  8.62676942e+01,
        5.18265679e+01,  4.53159049e+01, -7.64898263e-01, -2.90785199e-01,
        7.23993158e+01,  2.65617442e+01,  6.46534416e+01,  6.97962724e+01,
        5.87594410e+00,  3.40851587e+01,  1.72668994e+01,  3.17943424e+00,
        8.67121949e+00,  1.45943177e+01,  2.89354381e+00,  1.87478759e+00,
        2.97456416e+01,  1.00490398e+02,  1.47943605e+02,  7.36937507e+01,
        3.79305422e+01,  5.01213189e+01,  5.28072425e+01,  2.12854136e+01,
        1.97060150e+01,  7.57482372e+00,  1.42954068e+00,  1.22725578e+00,
        8.32551004e+00,  3.87132675e+01,  2.73378603e+01,  4.39293552e+01,
        8.85508666e+00,  8.20555469e+00, -6.17185931e-01,  4.05715548e+00,
        4.87266633e+00,  2.17461138e+00,  1.60287829e+00,  7.28768839e-01,
        1.56363633e+03,  1.88207922e+03,  2.78666211e+02,  7.75524171e+02,
        5.33868590e+02,  3.36730664e+02,  2.63243243e+02,  8.21374630e+01,
        6.29345888e+01,  8.31426181e+01,  9.58013562e+00,  5.13025146e+00,
        7.60654065e+01,  1.28809724e+01,  5.72109994e+01,  2.12906300e+01,
        1.90070417e+01,  1.59330062e+01,  1.09622363e+01,  3.06403871e+00,
        3.03678390e+00,  2.84571448e+00,  1.10227924e+00,  5.05016633e-01,
        1.10447779e+00,  1.18298365e+01,  2.02173212e+01,  1.61586081e+00,
        1.55916411e+01,  1.25270169e+00,  1.53166497e+00,  1.14774710e+00,
        6.43102478e-01,  1.53196273e-01,  8.42782820e-01,  2.29291220e-01,
        1.20662962e+03,  2.85273538e+03,  4.12091666e+03,  7.44757922e+02,
        1.07198639e+03,  6.23127728e+02,  9.57591271e+02,  1.37490188e+03,
        4.75908170e+02,  2.60448290e+02,  1.89904529e+01,  7.85087685e+00,
        6.37066009e+02,  1.78794060e+02,  7.32768027e+02,  2.28773889e+02,
        1.22182670e+02,  5.49990465e+01,  1.42061314e+02,  9.27634993e+01,
        1.68666443e+01,  1.47660223e+01,  1.04773691e+01,  1.66318480e+00,
        1.53413308e+03,  5.05221524e+03,  7.86515256e+03,  4.26030238e+03,
        2.24702784e+03,  1.04142118e+03,  1.03616841e+03,  1.24224694e+03,
        7.61365331e+02,  4.64453457e+02,  1.01580598e+02,  3.80256124e+01,
        1.10634824e+01,  2.70301925e+00,  1.39907616e-01,  1.39907616e-01,
        1.96054020e-01,  5.85836607e-02,  2.04517737e-01,  3.76512455e-02,
        2.16002563e-01,  2.72148968e-01,  1.34678608e-01,  2.80612684e-01,
        1.97832583e+02,  3.45145208e+02,  8.74922876e+01,  2.08975253e+02,
        7.53791801e+01,  1.01556257e+02,  3.69227095e+01,  5.67508452e+01,
        2.02409504e+01,  2.85856946e+00,  7.57207533e-02,  8.12194028e-01,
        9.52612141e-01, -1.37585526e+00,  1.51252852e+00,  1.28427593e+00,
        1.02213227e-01, -1.79198122e-02,  1.66823349e-01,  6.37048146e-02,
       -1.20490224e-01, -2.40623263e-01, -5.58801022e-02, -1.58998636e-01,
        2.14170020e+01,  8.06551704e+01,  7.80832528e+01,  2.92013531e+01,
        1.37220711e+01,  2.96765410e+01,  1.91226326e+01,  4.42407387e+01,
        9.54254130e+00,  4.26534632e+00, -1.55545911e-01,  2.83485929e-01,
        6.03863994e+01,  1.05226976e+02,  1.11188635e+02,  3.47976921e+01,
        1.67261198e+01,  1.55644867e+01,  2.11369378e+01,  2.11922352e+01,
        4.10825095e+00,  2.65312093e+00,  1.17133317e+00,  2.31527977e-01,
        1.47486934e+02,  8.86045424e+00,  1.35373871e+02,  1.07402306e+02,
        4.22522488e+01,  5.46275205e+01,  3.34888377e+01,  1.62716619e+01,
        8.75954960e+00,  3.28345265e+00,  5.97079657e+00,  4.49578882e+00,
        5.91512463e+02,  7.29027086e+02,  1.16344487e+03,  2.65635968e+02,
        1.55207701e+02,  1.35665414e+02,  2.99079263e+02,  3.65346417e+02,
        8.86416730e+01,  4.46936581e+01,  2.45318224e+00,  1.23018881e+00,
        1.15895781e+02,  2.28381039e+02,  2.32567487e+02,  1.13686184e+02,
        8.82315543e+01,  1.30829177e+02,  4.69433999e+01,  9.88817848e+01,
        4.00030676e+01,  3.72327995e+01,  2.13564075e+00,  1.85766602e+00,
        1.78881418e+02,  2.48612142e+02,  2.53289952e+02,  6.84080378e+01,
        5.25047945e+01,  4.94798613e+01,  9.20723039e+01,  9.63766625e+01,
        3.31696330e+01,  1.38547524e+01,  1.19015430e+00,  1.12366548e+00,
        6.59543248e+02,  1.25043553e+02,  6.41209928e+02,  1.23821404e+03,
        3.39925834e+02,  7.23966967e+01,  2.33518466e+02,  3.82239914e+02,
        1.08634629e+02,  5.32681450e+01,  1.26867954e+01,  1.31678210e+01,
        6.29403271e+01,  2.25348021e+02,  2.53804732e+02,  3.46062816e+02,
        2.46480439e+02,  1.30785310e+02,  2.46027828e+01,  8.03597339e+01,
        6.11032951e+01,  7.09252663e+01,  1.79345145e+01,  2.03572299e+01,
        3.92070099e+01,  2.39954194e+01,  2.35040727e+01,  1.96187238e+01,
        6.13300687e+00,  1.38495747e+01,  2.78601014e+00,  2.58363125e+00,
        2.26834173e+00, -1.81013500e-01, -4.33220145e-01,  1.19286157e-01,
        5.87927403e+02,  1.67457102e+03,  2.25274851e+03,  1.25142844e+03,
        5.40406284e+02,  3.27663535e+02,  4.56749386e+02,  4.18470558e+02,
        1.93931689e+02,  1.21344312e+02,  1.87374409e+01,  1.30254325e+01,
        1.70375974e+03,  6.06224921e+02,  8.38447263e+02,  2.43331075e+02,
        3.17318869e+02,  4.40347509e+02,  2.74992171e+02,  1.55016230e+02,
        9.30697215e+01,  1.03495185e+02,  7.61909344e+00,  8.08086188e+00,
        3.02924255e+03,  8.41128342e+03,  1.14585665e+04,  6.38559240e+03,
        4.04647886e+03,  3.83164697e+03,  2.81101448e+03,  1.29888397e+03,
        9.86670927e+02,  5.20483448e+02,  2.75788542e+02,  1.40286450e+02,
        5.84150865e+01,  1.59561370e+02,  9.09725130e+01,  8.30952041e+01,
        8.30815374e+01,  3.75240851e+01,  5.32160861e+01,  1.92698655e+01,
        1.86971907e+01,  1.04886456e+01,  1.91255105e+00,  5.44343186e-01])

### 두번째 테스트 : agg한 채로 구하기

In [49]:
from scipy import stats
def mode(x):
    return stats.mode(x)[0][0]

def quantileRange(x):
    q1 = np.quantile(x, 0.25)
    q3 = np.quantile(x, 0.75)
    return q3 - q1

def aggregating(df):
    aggs = {
        'population': ['sum', 'min', 'max', 'mean', 'median', 'var', quantileRange],
       'suicides_100k_pop': ['sum', 'min', 'max', 'mean', 'median', 'var', quantileRange],
        'HDI_for_year': ['sum', 'min', 'max', 'mean', 'median', 'var', quantileRange],
       'gdp_per_capital': ['sum', 'min', 'max', 'mean', 'median', 'var', quantileRange],
        'year_2014': ['sum', 'max', 'mean', 'median', 'var', quantileRange,],
#         'sex_new': ['sum', 'min', 'max', 'mean', 'median', mode, 'var', quantileRange],
#         'age_new': ['sum', 'min', 'max', 'mean', 'median', mode, 'var', quantileRange],
       'gdp_for_year_new': ['sum', 'min', 'max', 'mean', 'median', 'var', quantileRange],
#         'generation_new': ['sum', 'min', 'max', 'mean', 'median', mode, 'var', quantileRange],
        'suicides_no' : ['sum'],
    }
    return df.groupby('country').agg(aggs).reset_index()

def renameCols(df):
    rename = []
    for col in df.columns.tolist():
        if col[0] == 'suicide_no' or col[1] == '': rename.append(col[0])
        else : rename.append(col[0]+'_'+col[1])
    df.columns = rename
    return df

train_pure_agg = aggregating(train_pure)
train_pure_agg = renameCols(train_pure_agg)
validate_agg = aggregating(validate)
validate_agg = renameCols(validate_agg)

modelCols = train_pure_agg.columns.tolist()
for col in ('country', 'suicides_no_sum'):
    modelCols.remove(col)
x_train = train_pure_agg[modelCols]
y_train = train_pure_agg['suicides_no_sum'].values
x_validate = validate_agg[modelCols]
y_validate = validate_agg['suicides_no_sum'].values

lgb_train = lgb.Dataset(x_train, label = y_train)

param = {
    'num_iterations': 1000,
    'num_threads': 8,
}

bst = lgb.train(param, lgb_train)

pred = bst.predict(x_validate)
rmse(pred, y_validate)

144342.92460583942

In [55]:
y_validate

array([    0,  3231,    58,  2891,  1314,  1899,    24, 10631,  1789,
        2126,   722,  1453,    44,  1489,   629,   734,   241,   789,
         194, 10217,   565,     0,   512,  1925,    44,   382,  4147,
       24357,  3119,   461,   382,   930,    67,    32,   120,  6178,
        1839,   311,   548,   147,  5934,   220,    55, 13834,  2209,
       26541,     2,  1134,     4,   355,   388,   580,  3911,  1148,
        1032,  3952,  1617,   136,  7968,  4788, 42769,   591],
      dtype=int64)

In [54]:
pred

array([  -3902.5305096 ,   -6126.56907395,   74170.53338424,
        293083.5041406 ,  143002.09571301,  180700.00092677,
         44112.91873331,  -11020.48413985,  -19330.10146548,
         51622.41984868,  -89164.26423292,  -89271.60319768,
        104770.51537081,  210507.5354363 ,  100162.99077919,
        -54608.1036356 ,  112604.94904365,  -73580.12471064,
         56786.49452154,  359406.38865064,  138488.89572083,
        -55975.6198518 ,   65025.81248109,   29722.5559578 ,
         98142.5655194 ,   88686.82546136,  276682.05517075,
        242437.69077277, -105750.84265489,    4590.84640838,
         81244.25351849,  -41338.02369505,  101063.76632406,
        105925.6274016 ,   57767.51790161,   53681.01867403,
        249183.66189183,    1559.39200572,  111922.59197809,
        -36801.26880383,  163376.70178288,  118756.41407606,
         79264.19795672,  219903.70663761,  150583.53480164,
        234775.16350231,   60357.92098197,  -58719.53566347,
        -47664.10243389,  117180.43596234,  -24378.69196093,
         18765.8912164 ,  276682.05517075,  169205.92756311,
        230032.57714068,   60813.85595362,    6908.72214063,
       -146542.8521209 ,  349811.82252883,  315863.22340571,
        274104.33066664,   70139.29989545])

## 결론 : 트리모델은 작동을 안합니당

- 아애 회귀적으로 풀어야 할 듯?!